In [1]:
import json
import pandas as pd
import numpy as np
import re

from sqlalchemy import create_engine

import time

In [2]:
file_dir = 'C:/Users/prent/DSBC/Final_Project/RPD_Accident_ML'

In [3]:
streets = pd.read_csv(f'{file_dir}/Streets.csv', low_memory=False)
#ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [4]:
streets_df = pd.DataFrame(streets)

In [5]:
streets_df.head()

   Unnamed: 0          Street
0           0   GA Highway 21
1           1     E Badger Rd
2           2      N 100th St
3           3  State Route 9G
4           4            WA-9

In [6]:
# Create additional column

# Use Regex modify streets to Y or N markers

In [7]:
# Create additional DF columns
streets_df['Street_Copy'] = streets_df.apply(lambda row: row.Street, axis = 1)
streets_df['Street_Type'] = ""
streets_df['Highway_Object'] = ""

In [8]:
streets_df.head()

   Unnamed: 0          Street     Street_Copy Street_Type Highway_Object
0           0   GA Highway 21   GA Highway 21
1           1     E Badger Rd     E Badger Rd
2           2      N 100th St      N 100th St
3           3  State Route 9G  State Route 9G
4           4            WA-9            WA-9

In [9]:
# Convert Highways, etc. to Street_Type 
streets_df.loc[streets_df['Street_Copy'].str.contains('highway', case=False), 'Street_Type'] = 'Highway'
streets_df.loc[streets_df['Street_Copy'].str.contains('Tollway', case=False), 'Street_Type'] = 'Tollway'
streets_df.loc[streets_df['Street_Copy'].str.contains('expy', case=False), 'Street_Type'] = 'Expy'
streets_df.loc[streets_df['Street_Copy'].str.contains('fwy', case=False), 'Street_Type'] = 'Fwy'
streets_df.loc[streets_df['Street_Copy'].str.contains('hwy', case=False), 'Street_Type'] = 'Hwy'
streets_df.loc[streets_df['Street_Copy'].str.contains('Interstate', case=False), 'Street_Type'] = 'Interstate'
streets_df.loc[streets_df['Street_Copy'].str.contains('Tpke', case=False), 'Street_Type'] = 'Tpke'
streets_df.loc[streets_df['Street_Copy'].str.contains('Pkwy', case=False), 'Street_Type'] = 'Pkwy'
streets_df.loc[streets_df['Street_Copy'].str.contains('Parkway', case=False), 'Street_Type'] = 'Pkwy'
streets_df.loc[streets_df['Street_Copy'].str.contains('-', case=False), 'Street_Type'] = 'State Highway'
streets_df.loc[streets_df['Street_Copy'].str.contains('US ', case=False), 'Street_Type'] = 'Highway'
streets_df.loc[streets_df['Street_Copy'].str.contains('Route', case=False), 'Street_Type'] = 'Route'
streets_df.loc[streets_df['Street_Copy'].str.contains('FM', case=False), 'Street_Type'] = 'FM'
streets_df.loc[streets_df['Street_Copy'].str.contains('Byp', case=False), 'Street_Type'] = 'Byp'
streets_df.loc[streets_df['Street_Copy'].str.contains('Trwy', case=False), 'Street_Type'] = 'Trwy'

streets_df.loc[streets_df['Street_Copy'].str.contains('Beltway', case=False), 'Street_Type'] = 'Beltway'
streets_df.loc[streets_df['Street_Copy'].str.contains('Skyway', case=False), 'Street_Type'] = 'Skyway'
streets_df.loc[streets_df['Street_Copy'].str.contains('Skwy', case=False), 'Street_Type'] = 'Skyway'

In [10]:
# Convert Streets, etc. to Street_Type 
streets_df.loc[streets_df['Street_Copy'].str.contains('Rd', case=False), 'Street_Type'] = 'Rd'
streets_df.loc[streets_df['Street_Copy'].str.contains('Dr', case=False), 'Street_Type'] = 'Dr'
streets_df.loc[streets_df['Street_Copy'].str.contains('St', case=False), 'Street_Type'] = 'St'
streets_df.loc[streets_df['Street_Copy'].str.contains('Ave', case=False), 'Street_Type'] = 'Ave'
streets_df.loc[streets_df['Street_Copy'].str.contains('Ln', case=False), 'Street_Type'] = 'Ln'
streets_df.loc[streets_df['Street_Copy'].str.contains('Brg', case=False), 'Street_Type'] = 'Brg'
streets_df.loc[streets_df['Street_Copy'].str.contains('Road', case=False), 'Street_Type'] = 'Road'
streets_df.loc[streets_df['Street_Copy'].str.contains('Avenue', case=False), 'Street_Type'] = 'Ave'
streets_df.loc[streets_df['Street_Copy'].str.contains('Place', case=False), 'Street_Type'] = 'Place'
streets_df.loc[streets_df['Street_Copy'].str.contains('Trl', case=False), 'Street_Type'] = 'Trail'
streets_df.loc[streets_df['Street_Copy'].str.contains('Blvd', case=False), 'Street_Type'] = 'Boulevard'
streets_df.loc[streets_df['Street_Copy'].str.contains('Circle', case=False), 'Street_Type'] = 'Circle'
streets_df.loc[streets_df['Street_Copy'].str.contains('Ct', case=False), 'Street_Type'] = 'Ct'
streets_df.loc[streets_df['Street_Copy'].str.contains('Court', case=False), 'Street_Type'] = 'Cte'
streets_df.loc[streets_df['Street_Copy'].str.contains(' Way', case=False), 'Street_Type'] = 'Way'
streets_df.loc[streets_df['Street_Copy'].str.contains('Gtwy', case=False), 'Street_Type'] = 'Gtwy'
streets_df.loc[streets_df['Street_Copy'].str.contains('Pl', case=False), 'Street_Type'] = 'Pl'
streets_df.loc[streets_df['Street_Copy'].str.contains('Sq', case=False), 'Street_Type'] = 'Sq'
streets_df.loc[streets_df['Street_Copy'].str.contains('Pike', case=False), 'Street_Type'] = 'Pike'
streets_df.loc[streets_df['Street_Copy'].str.contains('Ter', case=False), 'Street_Type'] = 'Ter'
streets_df.loc[streets_df['Street_Copy'].str.contains('Cir', case=False), 'Street_Type'] = 'Cir'
streets_df.loc[streets_df['Street_Copy'].str.contains('Xing', case=False), 'Street_Type'] = 'Xing'
streets_df.loc[streets_df['Street_Copy'].str.contains('Camino', case=False), 'Street_Type'] = 'Camino'
streets_df.loc[streets_df['Street_Copy'].str.contains('Loop', case=False), 'Street_Type'] = 'Loop'
streets_df.loc[streets_df['Street_Copy'].str.contains('Bridge', case=False), 'Street_Type'] = 'Bridge'
streets_df.loc[streets_df['Street_Copy'].str.contains('Pass', case=False), 'Street_Type'] = 'Pass'
streets_df.loc[streets_df['Street_Copy'].str.contains('Cutoff', case=False), 'Street_Type'] = 'Cutoff'
streets_df.loc[streets_df['Street_Copy'].str.contains('Tunnel', case=False), 'Street_Type'] = 'Tunnel'
streets_df.loc[streets_df['Street_Copy'].str.contains('Tunl', case=False), 'Street_Type'] = 'Tunnel'
streets_df.loc[streets_df['Street_Copy'].str.contains('Cv', case=False), 'Street_Type'] = 'Cv'
streets_df.loc[streets_df['Street_Copy'].str.contains('Aly', case=False), 'Street_Type'] = 'Aly'
streets_df.loc[streets_df['Street_Copy'].str.contains('Path', case=False), 'Street_Type'] = 'Path'
streets_df.loc[streets_df['Street_Copy'].str.contains('Via', case=False), 'Street_Type'] = 'Via'
streets_df.loc[streets_df['Street_Copy'].str.contains('Row', case=False), 'Street_Type'] = 'Row'
streets_df.loc[streets_df['Street_Copy'].str.contains('Run', case=False), 'Street_Type'] = 'Run'
streets_df.loc[streets_df['Street_Copy'].str.contains('Trce', case=False), 'Street_Type'] = 'Trce'
streets_df.loc[streets_df['Street_Copy'].str.contains('Park', case=False), 'Street_Type'] = 'Park'
streets_df.loc[streets_df['Street_Copy'].str.contains('Hts', case=False), 'Street_Type'] = 'Hts'



streets_df.loc[streets_df['Street_Copy'].str.contains('M ', case=True), 'Street_Type'] = 'M '

streets_df.loc[streets_df['Street_Copy'].str.contains('N ', case=True), 'Street_Type'] = 'N '
streets_df.loc[streets_df['Street_Copy'].str.contains('E ', case=True), 'Street_Type'] = 'E '
streets_df.loc[streets_df['Street_Copy'].str.contains('W ', case=True), 'Street_Type'] = 'W '
streets_df.loc[streets_df['Street_Copy'].str.contains('S ', case=True), 'Street_Type'] = 'S '

In [11]:
Highways = ('Highway', 'Expy', 'Fwy', 'Hwy', 'Interstate', 'Tpke', 'Pkwy', 'State Highway', 'Highway', 'Route', 'FM', 'Byp', 'Tollway','Trwy', 'Beltway', 'Skyway')

In [12]:
#streets_df['Highway_Object'] = np.where((streets_df['Street_Type'].isin(['Highway', 'Expy', 'Fwy', 'Hwy', 'Interstate', 'Tpke', 'Pkwy', 'State Highway', 'Highway', 'Route', 'FM', 'Byp', 'Tollway' ,'Trwy', 'Beltway', 'Skyway'])), "Y", "N")

In [13]:
streets_df['Highway_Object'] = np.where((streets_df['Street_Type'].isin([Highways])), "Y", "N")

In [14]:
streets_df.head(100)

,Unnamed: 0,Street,Street_Copy,Street_Type,Highway_Object
0,0,GA Highway 21,GA Highway 21,Highway,N
1,1,E Badger Rd,E Badger Rd,E,N
2,2,N 100th St,N 100th St,N,N
3,3,State Route 9G,State Route 9G,St,N
4,4,WA-9,WA-9,State Highway,N
...,...,...,...,...,...
95,95,Banning Rd,Banning Rd,Rd,N
96,96,Meadowbrook Pkwy N,Meadowbrook Pkwy N,Pkwy,N
97,97,Courthouse Rd,Courthouse Rd,Cte,N
98,98,Courthouse Rd,Courthouse Rd,Cte,N
99,99,CA-58 E,CA-58 E,State Highway,N

In [15]:
streets_df[streets_df['Street_Type'] == ""].index

Int64Index([   452,    643,   1095,   1124,   1172,   1743,   1869,   2379,
              3207,   3417,
            ...
            146179, 146186, 146194, 146220, 146335, 146411, 146581, 146700,
            146729, 146830],
           dtype='int64', length=1444)

In [16]:
blank_street = streets_df[streets_df['Street_Type'] == ""]
blank_street.head(10)

,Unnamed: 0,Street,Street_Copy,Street_Type,Highway_Object
452,452,Adirondack Northway N,Adirondack Northway N,,N
643,643,Adirondack Northway S,Adirondack Northway S,,N
1095,1095,Old 63,Old 63,,N
1124,1124,River Valley Chase,River Valley Chase,,N
1172,1172,Mountain View Corridor,Mountain View Corridor,,N
1743,1743,LBJ Express,LBJ Express,,N
1869,1869,Inner Belt N,Inner Belt N,,N
2379,2379,Chopping Bottom Farm,Chopping Bottom Farm,,N
3207,3207,Berkshire Spur W,Berkshire Spur W,,N
3417,3417,Appalachian National Scenic Trail,Appalachian National Scenic Trail,,N

In [17]:
blank_street.to_csv('blank_street.csv')

In [18]:
streets_df.to_csv('Highways.csv')